.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

.toolTip-Format {
  /* position: absolute; */
  width: 135px;
  height: 60px;
  padding: 3px;
  padding-top: 8px;
  font: 30px sans-serif;
  font-weight: 800;
  color: black;
  text-align: center;
  background-color: #ffffff;
  border: 0;
  border-radius: 4px;
}

#title{
  font-size: 8em;
  font-weight: 700;
  background: linear-gradient(-60deg, #00c6ff , #00c6ff, #0072ff, #0073ff, #0073ff);
  background-size: 300%;

  -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}